//Styles


@import "_null.scss";

@import "_font name.scss";

@import "_adaptiv.scss";

@import "./styles-section/header.scss";

@import "./styles-section/style-help.scss";

@import "./styles-section/action.scss";

@import "./styles-section/services.scss";

@import "./styles-section/action-image.scss";

@import "./styles-section/footer.scss";

//!===============================================================================


:root {
    --main-rotate-minus: -55deg;
    --main-rotate-plus: 55deg;
    --main-rotate-zero: 0;
    --main-color-d: rgb(0, 0, 0);
    --main-color-dw: rgb(138, 136, 136);
    --main-color-w: rgb(255, 255, 255);
    --main-color-g: rgb(163, 147, 2);
    --main-color-gm: rgb(255, 230, 6);
    --main-color-o: rgb(0, 0, 0, 0);
    --main-color-m: rgb(158, 5, 5);
    --main-color-mh: rgb(255, 0, 0);
    --bg-color-o1: rgba(0, 0, 0, 0.1);
    --front-w3: 300;
    --front-w5: 500;
    --front-w7: 700;
}

%btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    

    background: var(--main-color-m);
    border-radius: 5px;
    transition: background 0.3s ease 0s;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    &:hover {
        background: var(--main-color-mh);
    }
}

%input {
    width: 385px;
    height: 65px;

    background: var(--main-color-w);
    color: #5C5C5C;
    font-weight: 200;
    font-size: 19px;
    line-height: 23px;
    padding-left: 20px;
    border: 1px solid var(--main-color-o);
    border-radius: 5px;

    @media (max-width:520px) {
        width: 75vw;
    }

    &:focus {
        border: 1px solid #000;
    }
}



@media (max-width:1200px) {
    %flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


}

//!===============================================================================
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    font-size: calc(10px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));

    .conteiner {
        max-width: 1120px;
        margin: 0 auto;
        padding: 0px 10px 0px 10px;
    }

    a {
        color: var(--main-color-w);
        transition: color 0.3s ease 0s;

        &:hover {
            color: var(--main-color-mh);
        }
    }

    h3 {
        color: var(--main-color-w);
        font-family: 'Oranienbaum', sans-serif;
        text-transform: uppercase;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
    }

    h4 {
        color: var(--main-color-d);
        font-family: 'Oranienbaum', sans-serif;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
    }

    button {
        @extend %btn;
        @media (max-width:992px) {
            width: 90px;
        }
        width: 100px;
        height: 40px;
    }

    main {
        background: var(--main-color-d);

        .conteiner {
            background-color: var(--main-color-w);

        }
    }

}

//!===============================================================================

.header-navigation.activ {
    position: fixed;
    margin-left: -10px;
    width: 100vw;
    background: rgba(7, 7, 7, 0.418);
}