
.action-image {
    &__title {
        padding: 50px 0;
        text-align: center;
        color: var(--main-color-d);
    }

    &__conteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__bg-column {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;

        img {
            max-width: 200px;
        }

        margin: 10px 0;
    }

    &__bg-text {
        padding: 15px;
    }
}