.action {}

.conteiner {}

.action-container {
    

    p {
        padding: 10px 0;
    }

    &__title {
        color: var(--main-color-b);
        padding: 10px 0;
    }

    &__text {}

    &__text-help {


        p {
            text-align: center;
            margin: 0 120px;
        }
    }
}


.action-table {
    display: flex;
    justify-content: center;
    align-items: center;

    table {

        background: var(--main-color-g);

        th {}

        td {
            text-align: center;
            border: 1px solid #000;
            // width: 130px;
            height: 50px;

            button {
                margin: 0 auto;
            }
        }

    }

    &__tr-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 2px;
            padding: 2px;
            border: 1px solid #000;
        }
    }
}

.action-table {

    &__tr {
        background: var(--main-color-gm);

    }
}

.action-tabl {
    &__tr-title {}

}

.action-books {


    &__bg {

        width: 100%;
        height: 60vh;
        background: url('/img/action/2razmera_books_preview_1200_c.png') 0 0/100% auto no-repeat;

    }
}