footer {
    background: var(--main-color-d);
}

.footer {

    &__conteiner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    &__btn {}

    &__conteiner {
        display: flex;
        flex-direction: column;

        a,
        p {
            padding: 5px 0;
            color: var(--main-color-w);
        }
    }

    &__link {}

    &__text {}
}