header {
    height: 100vh;
    background: url('/img/header/bg-main.png') center/cover no-repeat;

    .conteiner {}

    .header-navigation {
        max-width: 1120px;
        &__nav {

            display: flex;

            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;
        }

        &__nav-link {}

        &__nav-messenger {
            display: flex;
            justify-content: space-around;
        }

        &__nav-img-inst,
        &__nav-img-facebook,
        &__nav-img-vk {
            display: block;
            width: 40px;
            height: 40px;
        }

        &__nav-img-inst {

            background: url('/img/header/insta0.png') 0 0/40px 40px no-repeat;

            &:hover {
                background: url('/img/header/insta1.png') 0 0/40px 40px no-repeat;
            }
        }

        &__nav-img-facebook {

            background: url('/img/header/facebook0.png') 0 0/40px 40px no-repeat;

            &:hover {
                background: url('/img/header/facebook1.png') 0 0/40px 40px no-repeat;
            }
        }

        &__nav-img-vk {
            background: url('/img/header/vk0.png') 0 0/40px 40px no-repeat;

            &:hover {
                background: url('/img/header/vk1.png') 0 0/40px 40px no-repeat;
            }
        }

        &__nav-tel {
            display: flex;
            flex-direction: column;
        }

        &__nav-img-tel {}
    }
}



.header-main {
    
    .conteiner {}

    .header-main-conteiner {
        max-height: 500px;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-main-conteiner-title {}

    .header-main-conteiner-title-img {
        width: 200px;
        height: 140px;
        background: url('/img/header/logo-new.png') 0 0/contain no-repeat;
    }

    .header-main-conteiner-title-h3 {}

    .header-main-conteiner-title-link {
        color: var(--main-color-g);
    }

    .header-main-conteiner-bg {}

}